* {
    box-sizing: border-box;
}
body {
    font-family: Mandali;
    font-size: 16pt;
    background-color: ffffff;
}
header {
    background: #ef579d;
    align-content: center;
    padding-top: 20px;
}
.contenedor{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
#nombre{
    font-family: Marcellus;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
}
.fila::after {
    content: "";
    clear: both;
    display: table;
}
.imagenContenedor{ 
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
#imagen {
    height: auto;
    width: 100%;
    max-width: 500px;
    border-radius: 25px;
    padding-bottom: 20px;
}
.contenido {
    text-align: justify;
    padding-inline: 30px;
    font-size: 30px;
}
footer {
    background: #ef579d;
    align-content: center;
}
.uade-1-icon{
    text-align: center;
    margin-top: 10px;
}
#logo {
    height: 100%;
    width: auto;
    max-height: 70px;
    vertical-align: sub;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
} 
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

   .fila {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}