/* Estilos base */
.frame-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ef579d;
    width: 100%;
    height: 129px;
}
.frame-item {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #ef579d;
    width: 100%;
    height: 102px;
}
.carofoto-1-icon {
    position: absolute;
    top: 166px;
    left: 24px;
    border-radius: 50px;
    width: 377px;
    height: 528px;
    object-fit: cover;
}
.uade-1-icon {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 216px;
    height: 72px;
    object-fit: cover;
}
.nombre-y-apellido {
    margin: 0;
}
.nombre-y-apellido-container {
    position: absolute;
    top: 166px;
    left: 420px;
    display: inline-block;
    width: calc(100% - 450px);
    height: auto;
    padding-top: 10px;
}
.diseo-y-desarrollo {
    position: absolute;
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    font-family: Marcellus;
    color: #fff;
    text-align: center;
    width: 90%;
    height: auto;
}
.rectangle-parent {
    width: 100%;
    position: relative;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: Mandali;
    padding-bottom: 102px; /* para evitar que el contenido se superponga con el footer */
}

/* Media Queries para Responsividad */
@media (max-width: 1024px) {
    .nombre-y-apellido-container {
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        top: 700px; /* Ajustar si es necesario */
    }

    .carofoto-1-icon {
        position: static;
        margin: 0 auto;
        display: block;
        width: 50%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .diseo-y-desarrollo {
        font-size: 1.5rem;
    }

    .nombre-y-apellido-container {
        top: auto;
        position: static;
        width: 90%;
        margin: 0 auto;
    }

    .carofoto-1-icon {
        width: 70%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .diseo-y-desarrollo {
        font-size: 1.2rem;
    }

    .nombre-y-apellido-container {
        width: 90%;
        margin: 0 auto;
    }

    .carofoto-1-icon {
        width: 90%;
        height: auto;
    }
}
